# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.PocketDriods GO.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\cades\PocketDriods GO\.idea\.idea.PocketDriods GO\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
