# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.World.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\cades\PocketDriods GO\Assets\Scenes\World\.idea\.idea.World.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
